@font-face {
    font-family: 'TerrariaFont';
    src: url('fonts/Andy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'TerrariaFont', sans-serif;
}
